.slideshow-container {
  position: relative;
  width: 100%;
  max-height: 500px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.slide .link{
  position: absolute;
  top: 5%;
  right: 5%;
  background-image: url("assets/github_logo.png");
  background-position: center;
  background-size: fill;
  height: 50px;
  width: 50px;
  z-index: 999;
}

.slide .tag-container{
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tag{
  padding: 1% 5% 1% 5%;
  margin: 5% 1% 5% 1%;
  border-radius: 90px;
  color: #fbfbfb;
}

.content{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.slide:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: #FAFAFA;
  color: #121212;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 16px 16px 16px 16px;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}
@media only screen and (max-width: 600px) {
  .tag{
    font-size: 0.7em;
    white-space: nowrap;
  }

  .content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: 100px;
    margin-top: -28px;
    padding: 8px;
    background-color: #FAFAFA;
    color: #121212;
    font-weight: bold;
    font-size: 0.5em;
    transition: 0.6s ease;
    border-radius: 16px 16px 16px 16px;
    cursor: pointer;
  }
}