* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #fafafa;
    font-family: Unbounded, Verdana, Geneva, Tahoma, sans-serif;
    color: #fafafa;
}

body{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.background{
    z-index: 600;
    height: 100%;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 90px;
    background-color: #fff7f7; /* Workaround for Chromium's selective color inversion */
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/* MAIN CONTENT - LEFT SIDE */

.mainContent{
    position: relative; 
    border-top-right-radius: 30px; 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 30px; 
    display: flex; 
    flex-direction: column; 
    align-items: left; 
}

.mainWrapper{
    background-color: #252525;
    width: 40vw;
    height: 100vw; 
    padding-top: 0; 
    padding-bottom: 0; 
    padding-left: 5%; 
    padding-right: 3%; 
    align-items: center; 
    justify-content: right;
    display: flex; 
}

.name{
    color: #fafafa;
    font-size: 5rem;
    margin-right: 50%;
}

.introText{
    color: #fafafa;
    position: relative;
    margin-right: 30%;
    font-size: 1.3rem;
}

/* SOCIALS - ON MAIN */

.socials_container {
    position: relative;
    display: flex;
    z-index: 30;
    margin-top: 5%;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    gap: 17%;
}

.socialimg :hover{
    transform: scale(1.1);
}


  /* FOOTER CONTENT - BOTTOM LEFT */

.footerContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    z-index: 3;
    margin-top: 48%;
}

/* TAB CONTENT - RIGHT SIDE */

.tabContent{
    text-decoration: none;
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.tabWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tab{
    background-color: #252525;
    height: 32.5vh;
    width: 60vw;
    margin-left: 1%;
    margin-right:-5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

.tab:hover{
    animation: tabHover 2s;
    animation-fill-mode: forwards;
    text-decoration: none;
}

@keyframes tabHover {
    from{ transform: translateX(0%); text-shadow: 0 0 0px #fafafa; border-radius: 30px 15px 15px 30px; }
    to{ transform: translateX(-5%); text-shadow: 0 0 20px #fafafa, 0 0 30px #ff4da6, 
        0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 
        0 0 80px #ff4da6; border-radius: 30px;}
}

.tabTitle{
    color: #fafafa;
    position: relative;
    font-size: 3rem;
    margin-right: -75rem;
    rotate: -90deg;
}

