* {
  margin: 0;
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
  font-family: Unbounded, Verdana, Geneva, Tahoma, sans-serif;
  color: #fafafa;
}

body{
  display: flex; 
  flex-direction: row; 
  align-items: center; 
}

.buttonalert{
  position:fixed;
  width: 150%;
  height: 150%;
  top:20px;
  left:20px;
  cursor: pointer;
  z-index: 10;
}

.background{
    z-index: 600;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 90px;
    background-color: #fff7f7; /* Workaround for Chromium's selective color inversion */
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/* MAIN CONTENT - LEFT SIDE */

.mainContent{
  position: relative; 
  border-top-right-radius: 30px; 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 30px; 
  display: flex; 
  flex-direction: column; 
  align-items: left; 
}

.mainWrapper{
  background-color: #252525;
  width: 45vw;
  height: 101vh; 
  padding-top: 0; 
  padding-bottom: 0; 
  padding-left: 5%; 
  padding-right: 3%; 
  align-items: center; 
  justify-content: right;
  display: flex; 
}

.name{
    position: relative;
    top: 35%;
    left: 5%;
    color: #fafafa;
    font-size: 4rem;
    margin-right: 50%;
}

.introText{
    position: relative;
    top: 55%;
    padding-top: 2%;
    left: 5%;
    color: #fafafa;
    font-size: 1rem;
    width: 70%;
}
/* SOCIALS - ON MAIN */

.socials_container {
  position: relative;
  display: flex;
  z-index: 30;
  margin-top: 5%;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  gap: 17%;
  left: 5%;
  top: 54%;
}

.socialimg :hover{
  transform: scale(1.1);
}


  /* FOOTER CONTENT - BOTTOM LEFT */

.footerContainer {
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 100%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    z-index: 3;
    margin-top: 48%;
}

/* TAB CONTENT - RIGHT SIDE */

.tabContent{
    text-decoration: none;
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.tabWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tab{
    background-color: #252525;
    height: 32.5vh;
    width: 60vw;
    margin-left: 1%;
    margin-right:-5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

.tab:hover{
    animation: tabHover 2s;
    animation-fill-mode: forwards;
    text-decoration: none;
}

@keyframes tabHover {
    from{ transform: translateX(0%); text-shadow: 0 0 0px #fafafa; border-radius: 30px 15px 15px 30px; }
    to{ transform: translateX(-5%); text-shadow: 0 0 20px #fafafa, 0 0 30px #0ba886, 
        0 0 40px #0ba886, 0 0 50px #0ba886, 0 0 60px #0ba886, 0 0 70px #0ba886, 
        0 0 80px #0ba886; border-radius: 30px;}
}

.tabTitle{
    color: #fafafa;
    position: relative;
    font-size: 2.6rem;
    margin-right: -850px;
    rotate: -90deg;
}

.cardContentRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    flex-direction: row;
    margin-top: 5%;
  }
  
  .cardContentWrapper{
    display: flex;
    height: 120%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: center;
    overflow-y: scroll;
    margin-left: 5vw;
    margin-top: 15vh;
  }
  
  .card{
    color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    max-height: 300px;
    min-height: 300px;
    max-width: 307px;
    min-width: 307px;
  }
  
  .cardImg{
    border-radius: 15px 15px 0px 0px;
  }
  
  .cardText{
    padding-left: 1.25vw;
    padding-bottom: 1vh;
    align-items: center;
    max-height: 90px;
    min-height: 90px;
    max-width:280px;
    min-width: 280px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .aboutContentWrapper{
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
  }

.aboutText{
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.mySlides {display: none}

.slideshowWrapper{
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.slideshowContainer {
    max-width: 90%;
    width: 90%;
    position: relative;
    margin: -25px;
    margin-top: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 5px 0 0 5px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #252525
  }
  
  /* Caption text */
  .text {
    color: #fafafa;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 3px;
    width: 97.3%;
    border-radius: 15px, 15px, 0px, 0px;
    text-align: center;
    background-color: #252525
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #fafafa;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px;
    background-color: #757575;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #252525;
  }

  /* MOBILE SITE CHANGES START */

  @media only screen and (max-width: 970px) {
   .wrapper{
    flex-direction: column; 
   }

   .name{
    position: relative;
    font-size: 3rem;
   }

   .socials_container{
    position: relative;
    scale: 80%;
    margin-left: -10%;
   }

   .introText{
    position: relative;
    font-size: 0.8rem;
   }

   .mainWrapper{
    width: 100vw;
    height: 50vh;
   }

   .tabWrapper{
    flex-direction: row;
    width: 100vw;
    height: 50vh;
   }

   .slideshowWrapper{
    flex-direction: row;
    width: 100vw;
    height: 50vh;
   }

   .aboutContentWrapper{
    flex-direction: row;
    width: 100vw;
    height: 50vh;
   }

   .cardContentWrapper{
    flex-direction: row;
    width: 100vw;
    height: 50vh;
   }

   .tab{
    height: 13vh;
    width: 100vw;
    margin-left: 0%;
    padding-bottom: 1%;
    margin-right:0%;
    border-radius: 0px 0px 0px 0px;
    rotate: 0deg;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .tabTitle{
    color: #fafafa;
    font-size: 3rem;
    rotate: 0deg;
    align-self: center;
    margin-right: 0px;
  }

   .footerContainer{
    color: #252525;
    position: absolute;
    bottom: 5;
    align-self: center;
    font-size: 0.7rem;
   }

   .slideshowContainer{
    width: 100vw;
    height: 50vh;
    align-items: center;
   }

  }
  