@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarala", sans-serif;
  z-index: auto;
  
}

body {
  background: rgb(151,0,255);
  background: -moz-linear-gradient(106deg, rgba(151,0,255,1) 0%, rgba(74,129,224,1) 51%, rgba(0,255,194,1) 100%);
  background: -webkit-linear-gradient(106deg, rgba(151,0,255,1) 0%, rgba(74,129,224,1) 51%, rgba(0,255,194,1) 100%);
  background: linear-gradient(106deg, rgba(151,0,255,1) 0%, rgba(74,129,224,1) 51%, rgba(0,255,194,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9700ff",endColorstr="#00ffc2",GradientType=1);
  color: #333;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

li{
  margin-left: 20px;
}

/* Header */
.header {
  position: relative;
  top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px 20px;
  
  text-align: center;
}

.header h1,
.header h2 {
  margin-bottom: 5px;
}

.header h2 {
  font-size: 18px;
}

.header-content p {
  width: 60%;
  margin: 20px auto;
}

.social-links a {
  color: white;
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
}

.social-links a:hover {
  opacity: 0.7;
}

/* Main Content */
.main-content {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin-top: 2%;
  width: 100%;
}

/* Blur effect */
body.blurred .main-content,
body.blurred .header,
body.blurred .footer {
  filter: blur(6px);
  pointer-events: none;
}

/* Column */
.column {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Items */
.item {
  width: 60%;
  position: relative;
  height: auto;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  margin: 5px 0;
  padding: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.item:hover{
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  transform: scale(1.02);
}

.item-preview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.item-skills h2{
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}


.link{
  display: flex;
  margin-top: 10px;
  justify-content: left;
  gap: 10px;
  align-items: left;
  width: 95%;
  text-align: left;

}

.link a{
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 16px;
  text-decoration: none;

}

.item-description {
  display: none;
  margin-top: 5%;
  color: #666;
  font-size: 14px;
}

.item.expanded.fullscreen{
  overflow-y: auto;
}

.item.expanded.fullscreen .item-preview {
  display: none;
}

.item.expanded.fullscreen .item-video {
  display: none;
}

.item.expanded .item-skills{
  display: none;
  position: absolute;
  top: 8%;
}

.item.expanded .item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
}

.item.expanded .video-thumbnail-link {
  display: none;
}

.item-split{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.justify-center{
  justify-content: center;
  gap: 40px;
}

.item-text{
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  width: 50%;
}

.video-thumbnail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  height: auto;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative; /* Crucial for z-index to apply */
  z-index: 2;       /* Higher value - appears on top */
}

.video-thumbnail-link a{
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 10px;
  position: relative; /* Crucial for z-index to apply */
  z-index: 2;       /* Higher value - appears on top */
  cursor: pointer;
  display: block;
  justify-content: center;
}

.video-thumbnail-link .video-thumbnail{
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  z-index: 1;
}

.video-thumbnail-link .play-button{
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  z-index: 2;
}

.item-images {
  display: flex;
  width: 80%;
  object-fit: cover;
  height: auto;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  gap: 20px;
  padding: 10px 10px 30px 10px;
  flex-basis: 50%;
}

.item-images img{
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 10px;
  position: relative; /* Crucial for z-index to apply */
  z-index: 2;       /* Higher value - appears on top */
}

/* Add position and z-index to the video container */
.item-video { /* Or target the specific iframe wrapper/iframe */
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 10px;
  position: relative; /* Crucial for z-index to apply */
  z-index: 2;       /* Higher value - appears on top */
}


.item.item.fullscreen.expanded .item-background img{
  -webkit-mask-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
  mask-image: linear-gradient(45deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
}
/* Assign z-index to the background container */
.item-background {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;       /* Lower value - appears behind */
}

.item-background img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 16px;
  z-index: 1;
  -webkit-mask-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 75%);
  mask-image: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 75%);
}

.item-skills-container{
  position: relative;
  margin: 20px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.item-skills-container img{
  height: 50px;
}

.item-reflection{
  font-size: 14px;
  color: #666;
}

.item-skills {
  font-size: 14px;
  width: 95%;
  color: #666;
}


.width-90{
  width: 90%;
}

.item ul li{
  width: 95%;
}

/* Fullscreen Item */
.item.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 80vw;
  height: 90vh;
  max-height: none;
  z-index: 4;
  background-color: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.item.fullscreen.expanded{
  z-index: 4;
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
}

.hidden {
  display: none;
}

/* Glass Fade-in Effect */
.glass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.glass p{
  color: #666;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}

.stopscroll{
  overflow: hidden;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  width: 100%;
}


.container{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container p{
  width: 70%;
}

#pfp{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about p{
  width: 50%;
  color: white;
}

/* Footer */
.footer {
  text-align: center;
  position: relative;
  padding: 20px;
  width: 100%;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 599px) {
  .header h1 {
    font-size: 24px;
  }

  .header h2 {
    font-size: 16px;
  }

  .header-content p {
    display: none;
  }

  .main-content {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .column {
    width: 100%;
    max-height: 80%;
    padding: 10px;
  }

  .item {
    width: 95%;
    padding: 12px;
  }

  .item-split{
    flex-direction: column;
    gap: 0px;
  }

  .item-text{
    width: 100%;
    margin-bottom: 5%;
  }

  .item-images {
    width: 100%;
  }

  .item-background {
    display: none;
  }

  .item.fullscreen {
    width: 95vw;
    height: 90vh;
    padding: 20px;
  }

  .footer {
    font-size: 14px;
    padding: 15px;
  }

  .container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container p{
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .header h1 {
    font-size: 28px;
  }

  .header h2 {
    font-size: 20px;
  }

  .header-content p {
    width: 80%;
  }

  .main-content {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .column {
    width: 100%;
    max-height: 75%;
    padding: 15px;
  }

  .item {
    width: 85%;
    padding: 15px;
  }

  .item-split{
    flex-direction: column;
    gap: 0px;
  }

  .item-text{
    width: 100%;
    margin-bottom: 5%;
  }

  .item-images {
    width: 100%;
  }

  .item-background {
    display: none;
  }

  .item.fullscreen {
    width: 95vw;
    height: 90vh;
    padding: 25px;
  }

  .footer {
    font-size: 16px;
    padding: 18px;
  }

  .container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .container p{
    width: 100%;
  }
  
}

::-webkit-scrollbar {
  display: inline;
  z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.pulse {
  animation: pulse 2s infinite ease-in-out;
}